.title h1 {
    color: rgb(44, 6, 6);
    text-shadow: 55px 0px 1px red;
    margin-top: 120px;
    margin-bottom: 40px;
    border-bottom: 5px solid black;
    line-height: 0.13em;
    margin-left: 60px;
    margin-right: 60px;
}

.title p {
    margin: 0;
    font-size: 25px;
    position: absolute;
}

.name {
    text-align: center;
    font-size: 60px;
    position: relative;
}

.name img {
    margin-top: 220px;
    box-shadow: 20px 16px 1px black;
}

.top h2 {
    text-align: center;
    position: absolute;
    top: 8%;
    right: 30%;
    left: 30%;
    text-shadow: 3px 1px 1px white;
}

.main-texta {
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
}

.main-texta h2,
p {
    text-align: center;
    display: inline;
}

.main-texta p {
    font-size: 17px;
    font-family: 'Cinzel', serif;
}