body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Cinzel', serif;
}

.nav {
    text-align: right;
    background-color: white;
}

.nav ul {
    margin: 0;
    margin-right: 20px;
}

.nav li {
    list-style: none;
    display: inline-block;
    padding: 30px;
    padding-right: 20px;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li a:hover {
    color: black;
    transition: 1s;
}

header {
    background-position: center;
    background-size: cover;
    margin: 0;
}

.main {
    background-image: url(../img/bg2.jpg);
    padding: 150px;
    transform: scale(1);
    margin-bottom: 20px;
}

.main:hover {
    transform: scale(0.98);
    transition: 1s;
}

.main:hover:after {
    transform: scale(1);
    transition: 1s;
    content: '';
    clear: both;
    display: block;
}

.main h1 {
    color: white;
}

.main-table tr {
    margin: 1000px;
}

.career {
    background-image: url(../img/bg2.jpg);
    padding: 0 0 300px 200px;
}

.education {
    background-image: url(../img/bg2.jpg);
    padding: 0 0 300px 0;
}

.education p {
    margin: 0 0 0 0;
}

.skill {
    background-image: url(../img/bg2.jpg);
    padding: 0 0 300px 0;
}

.skill p {
    margin: 0 0 0 0;
}

.award {
    background-image: url(../img/bg2.jpg);
    padding: 0 0 300px 300px;
}

.am {
    background-image: url(../img/bg2.jpg);
    padding: 0 0 300px 300px;
}

.am footer {
    background-color: white;
}